In [1]:
import pandas as pd

In [3]:
pwd

u'/Users/panding/bigdata/bigdata2015-finalproject/pd878'

In [4]:
cd

/Users/panding

In [9]:
ls

Anaconda-2.2.0-MacOSX-x86_64.pkg                 event (1).ics
Assignment7.docx                                 event (2).ics
Assignment7.pdf                                  event.ics
Assignment8.pdf                                  googlechrome.dmg
DropboxInstaller.dmg                             installgoogledrive.dmg
Employee.py                                      mrjoin_final.ppt
Img386211505.jpg                                 my1288_assignment_10/
PostalBoundary.dbf                               my1288_assignment_10.zip
R10931049_SL860.csv                              nycTaxiTripData2013.torrent
R10931144_SL860.csv                              pd878 (1).html
Sublime Text 2.0.2.dmg                           pd878 (2).html
VirtualBox-4.3.26-98988-OSX.dmg                  pd878.html
VisTrails.pdf                                    print-service-ny-mac.pkg
assignment5 (1).html                             sf3_inc_p_z1.xls
assignment5.html                                 stationlocations_dict.json
download.html                                    vistrails-mac-10.6-intel-2.1.5-4fe986148829.dmg
ds-ga-1007.html

In [6]:
cd Downloads/

/Users/panding/Downloads

In [10]:
df = pd.read_csv('R10931144_SL860.csv')

In [55]:
df.head(5)

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,SE_T129_007,SE_T129_008,SE_T129_009,SE_T129_010,SE_T147_001,SE_T133_001,SE_T133_002,SE_T133_003,SE_T133_004,SE_T133_005
0,600601,86000US00601,00601 ZCTA5,00601 ZCTA5,pr,860,0,ACSSF,7371,NaN,...,517,252,234,49,29,18450,18430,20,15,5
1,600602,86000US00602,00602 ZCTA5,00602 ZCTA5,pr,860,0,ACSSF,7372,NaN,...,1271,288,187,439,23,41302,40937,365,41,324
2,600603,86000US00603,00603 ZCTA5,00603 ZCTA5,pr,860,0,ACSSF,7373,NaN,...,627,344,253,357,20,53683,53013,670,311,359
3,600606,86000US00606,00606 ZCTA5,00606 ZCTA5,pr,860,0,ACSSF,7374,NaN,...,271,46,168,57,35,6591,6564,27,0,27
4,600610,86000US00610,00610 ZCTA5,00610 ZCTA5,pr,860,0,ACSSF,7375,NaN,...,1187,199,121,164,24,28963,28838,125,79,46

In [72]:
zip_list = [item[0] for item in df['Geo_NAME'].str.split()]

df['Geo_NAME'].update(pd.Series(zip_list))
df.head(5)

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,SE_T129_007,SE_T129_008,SE_T129_009,SE_T129_010,SE_T147_001,SE_T133_001,SE_T133_002,SE_T133_003,SE_T133_004,SE_T133_005
0,600601,86000US00601,00601,00601 ZCTA5,pr,860,0,ACSSF,7371,NaN,...,517,252,234,49,29,18450,18430,20,15,5
1,600602,86000US00602,00602,00602 ZCTA5,pr,860,0,ACSSF,7372,NaN,...,1271,288,187,439,23,41302,40937,365,41,324
2,600603,86000US00603,00603,00603 ZCTA5,pr,860,0,ACSSF,7373,NaN,...,627,344,253,357,20,53683,53013,670,311,359
3,600606,86000US00606,00606,00606 ZCTA5,pr,860,0,ACSSF,7374,NaN,...,271,46,168,57,35,6591,6564,27,0,27
4,600610,86000US00610,00610,00610 ZCTA5,pr,860,0,ACSSF,7375,NaN,...,1187,199,121,164,24,28963,28838,125,79,46

In [77]:
df.head(5)

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,SE_T129_007,SE_T129_008,SE_T129_009,SE_T129_010,SE_T147_001,SE_T133_001,SE_T133_002,SE_T133_003,SE_T133_004,SE_T133_005
0,600601,86000US00601,00601,00601 ZCTA5,pr,860,0,ACSSF,7371,NaN,...,517,252,234,49,29,18450,18430,20,15,5
1,600602,86000US00602,00602,00602 ZCTA5,pr,860,0,ACSSF,7372,NaN,...,1271,288,187,439,23,41302,40937,365,41,324
2,600603,86000US00603,00603,00603 ZCTA5,pr,860,0,ACSSF,7373,NaN,...,627,344,253,357,20,53683,53013,670,311,359
3,600606,86000US00606,00606,00606 ZCTA5,pr,860,0,ACSSF,7374,NaN,...,271,46,168,57,35,6591,6564,27,0,27
4,600610,86000US00610,00610,00610 ZCTA5,pr,860,0,ACSSF,7375,NaN,...,1187,199,121,164,24,28963,28838,125,79,46

In [95]:
df.columns

Index([u'Geo_FIPS', u'Geo_GEOID', u'Geo_NAME', u'Geo_QName', u'Geo_STUSAB', u'Geo_SUMLEV', u'Geo_GEOCOMP', u'Geo_FILEID', u'Geo_LOGRECNO', u'Geo_US', u'Geo_REGION', u'Geo_DIVISION', u'Geo_STATECE', u'Geo_STATE', u'Geo_COUNTY', u'Geo_COUSUB', u'Geo_PLACE', u'Geo_PLACESE', u'Geo_TRACT', u'Geo_BLKGRP', u'Geo_CONCIT', u'Geo_AIANHH', u'Geo_AIANHHFP', u'Geo_AIHHTLI', u'Geo_AITSCE', u'Geo_AITS', u'Geo_ANRC', u'Geo_CBSA', u'Geo_CSA', u'Geo_METDIV', u'Geo_MACC', u'Geo_MEMI', u'Geo_NECTA', u'Geo_CNECTA', u'Geo_NECTADIV', u'Geo_UA', u'Geo_UACP', u'Geo_CDCURR', u'Geo_SLDU', u'Geo_SLDL', u'Geo_VTD', u'Geo_ZCTA3', u'Geo_ZCTA5', u'Geo_SUBMCD', u'Geo_SDELM', u'Geo_SDSEC', u'Geo_SDUNI', u'Geo_UR', u'Geo_PCI', u'Geo_TAZ', u'Geo_UGA', u'Geo_BTTR', u'Geo_BTBG', u'Geo_PUMA5', u'Geo_PUMA1', u'SE_T001_001', u'SE_T002_001', u'SE_T002_002', u'SE_T002_003', u'SE_T003_001', u'SE_T003_002', u'SE_T003_003', u'SE_T004_001', u'SE_T004_002', u'SE_T004_003', u'SE_T007_001', u'SE_T007_002', u'SE_T007_003', u'SE_T007_004', u'SE_T007_005', u'SE_T007_006', u'SE_T007_007', u'SE_T007_008', u'SE_T007_009', u'SE_T007_010', u'SE_T007_011', u'SE_T007_012', u'SE_T007_013', u'SE_T013_001', u'SE_T013_002', u'SE_T013_003', u'SE_T013_004', u'SE_T013_005', u'SE_T013_006', u'SE_T013_007', u'SE_T013_008', u'SE_T021_001', u'SE_T022_001', u'SE_T022_002', u'SE_T022_003', u'SE_T022_004', u'SE_T022_005', u'SE_T022_006', u'SE_T150_001', u'SE_T150_002', u'SE_T150_003', u'SE_T150_004', u'SE_T150_005', u'SE_T150_006', u'SE_T150_007', ...], dtype='object')

In [98]:
df2 = df.drop([u'Geo_FIPS', u'Geo_GEOID', u'Geo_QName', u'Geo_STUSAB', u'Geo_SUMLEV', u'Geo_GEOCOMP', u'Geo_FILEID', u'Geo_LOGRECNO', u'Geo_US', u'Geo_REGION', u'Geo_DIVISION', u'Geo_STATECE', u'Geo_STATE', u'Geo_COUNTY', u'Geo_COUSUB', u'Geo_PLACE', u'Geo_PLACESE', u'Geo_TRACT', u'Geo_BLKGRP', u'Geo_CONCIT', u'Geo_AIANHH', u'Geo_AIANHHFP', u'Geo_AIHHTLI', u'Geo_AITSCE', u'Geo_AITS', u'Geo_ANRC', u'Geo_CBSA', u'Geo_CSA', u'Geo_METDIV', u'Geo_MACC', u'Geo_MEMI', u'Geo_NECTA', u'Geo_CNECTA', u'Geo_NECTADIV', u'Geo_UA', u'Geo_UACP', u'Geo_CDCURR', u'Geo_SLDU', u'Geo_SLDL', u'Geo_VTD', u'Geo_ZCTA3', u'Geo_ZCTA5', u'Geo_SUBMCD', u'Geo_SDELM', u'Geo_SDSEC', u'Geo_SDUNI', u'Geo_UR', u'Geo_PCI', u'Geo_TAZ', u'Geo_UGA', u'Geo_BTTR', u'Geo_BTBG', u'Geo_PUMA5', u'Geo_PUMA1'], axis=1) 
df2.head(5)

,Geo_NAME,SE_T001_001,SE_T002_001,SE_T002_002,SE_T002_003,SE_T003_001,SE_T003_002,SE_T003_003,SE_T004_001,SE_T004_002,...,SE_T129_007,SE_T129_008,SE_T129_009,SE_T129_010,SE_T147_001,SE_T133_001,SE_T133_002,SE_T133_003,SE_T133_004,SE_T133_005
0,00601,18450,18450,286.7235,64.347708,64.65632,64.34771,0.308610,18450,8983,...,517,252,234,49,29,18450,18430,20,15,5
1,00602,41302,41302,1349.1510,30.613331,32.33005,30.61333,1.716716,41302,20272,...,1271,288,187,439,23,41302,40937,365,41,324
2,00603,53683,53683,1698.0650,31.614216,31.68504,31.61422,0.070821,53683,26240,...,627,344,253,357,20,53683,53013,670,311,359
3,00606,6591,6591,155.7821,42.309101,42.31392,42.30910,0.004821,6591,3192,...,271,46,168,57,35,6591,6564,27,0,27
4,00610,28963,28963,806.4141,35.915790,37.52661,35.91579,1.610819,28963,14040,...,1187,199,121,164,24,28963,28838,125,79,46

In [99]:
df2.describe()

,SE_T001_001,SE_T002_001,SE_T002_002,SE_T002_003,SE_T003_001,SE_T003_002,SE_T003_003,SE_T004_001,SE_T004_002,SE_T004_003,...,SE_T129_007,SE_T129_008,SE_T129_009,SE_T129_010,SE_T147_001,SE_T133_001,SE_T133_002,SE_T133_003,SE_T133_004,SE_T133_005
count,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,...,33120.000000,33120.000000,33120.000000,33120.000000,30764.000000,33120.000000,33120.000000,33120.00000,33120.000000,33120.000000
mean,9516.959994,9516.959994,1270.778792,86.628713,88.601858,86.628713,1.973145,9516.959994,4679.849940,4837.110054,...,459.185537,229.095290,102.975453,183.190278,25.618483,9516.959994,8295.864644,1221.09535,550.958394,670.136957
std,13939.177211,13939.177211,4932.474810,253.371709,258.815694,253.371701,12.769445,13939.177211,6820.616206,7138.252399,...,890.367976,542.206735,219.220795,324.517284,7.399643,13939.177211,11514.527648,3567.45147,1681.716537,2052.425113
min,0.000000,0.000000,0.000000,0.001967,0.001967,0.001967,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,721.000000,721.000000,20.211702,9.054230,9.631909,9.054230,0.022261,721.000000,363.750000,352.000000,...,23.000000,9.000000,3.000000,11.000000,21.000000,721.000000,699.000000,4.00000,0.000000,0.000000
50%,2801.500000,2801.500000,79.085315,35.887930,37.021205,35.887930,0.223442,2801.500000,1411.000000,1388.000000,...,114.000000,50.000000,27.000000,52.000000,25.000000,2801.500000,2697.500000,53.00000,23.000000,25.000000
75%,13000.000000,13000.000000,660.399125,88.554361,90.364235,88.554363,1.067935,13000.000000,6434.500000,6584.250000,...,474.000000,208.000000,112.000000,208.000000,30.000000,13000.000000,11826.250000,631.25000,267.000000,323.000000
max,114734.000000,114734.000000,184475.200000,13430.990142,13555.440000,13430.990000,956.210400,114734.000000,58332.000000,58859.000000,...,17352.000000,11550.000000,5635.000000,9331.000000,101.000000,114734.000000,101970.000000,69424.00000,32541.000000,47531.000000

In [12]:
cd /Users/panding/bigdata/bigdata2015-finalproject/pd878

/Users/panding/bigdata/bigdata2015-finalproject/pd878

In [14]:
cd ../

/Users/panding/bigdata/bigdata2015-finalproject

In [16]:
cd other-data/

/Users/panding/bigdata/bigdata2015-finalproject/other-data

In [18]:
ls

Untitled0.ipynb   cleaning1.ipynb   sf3_inc_p_z1.xls  zip_borough.csv

In [29]:
df_zip_bor = pd.read_csv('zip_borough.csv')

In [31]:
df_zip_bor.head(5)

   Incident Zip    Borough
0         10468      BRONX
1         10472      BRONX
2         10031  MANHATTAN
3         10460      BRONX
4         10027  MANHATTAN

In [43]:
zip_list = df_zip_bor['Incident Zip'].tolist()

In [50]:
zip_str = []
for i in zip_list:
    zip_str.append(str(i))

In [105]:
df3= df2.loc[df2['Geo_NAME'].isin(zip_str)]
df3.head(5)

,Geo_NAME,SE_T001_001,SE_T002_001,SE_T002_002,SE_T002_003,SE_T003_001,SE_T003_002,SE_T003_003,SE_T004_001,SE_T004_002,...,SE_T129_007,SE_T129_008,SE_T129_009,SE_T129_010,SE_T147_001,SE_T133_001,SE_T133_002,SE_T133_003,SE_T133_004,SE_T133_005
2558,10001,21966,21966,35349.600,0.621393,0.621393,0.621393,0,21966,10732,...,1044,691,234,932,25,21966,16003,5963,2679,3284
2559,10002,82191,82191,93461.170,0.879413,0.879413,0.879413,0,82191,39802,...,4899,3432,796,1492,31,82191,46960,35231,20088,15143
2560,10003,57310,57310,99418.490,0.576452,0.576452,0.576452,0,57310,27442,...,2649,1316,495,2683,26,57310,46229,11081,5081,6000
2561,10004,2807,2807,5014.745,0.559749,0.559749,0.559749,0,2807,1469,...,117,44,37,144,25,2807,2121,686,338,348
2562,10005,6822,6822,92791.040,0.073520,0.073520,0.073520,0,6822,3463,...,494,104,55,192,25,6822,4882,1940,467,1473

In [106]:
df3.columns

Index([u'Geo_NAME', u'SE_T001_001', u'SE_T002_001', u'SE_T002_002', u'SE_T002_003', u'SE_T003_001', u'SE_T003_002', u'SE_T003_003', u'SE_T004_001', u'SE_T004_002', u'SE_T004_003', u'SE_T007_001', u'SE_T007_002', u'SE_T007_003', u'SE_T007_004', u'SE_T007_005', u'SE_T007_006', u'SE_T007_007', u'SE_T007_008', u'SE_T007_009', u'SE_T007_010', u'SE_T007_011', u'SE_T007_012', u'SE_T007_013', u'SE_T013_001', u'SE_T013_002', u'SE_T013_003', u'SE_T013_004', u'SE_T013_005', u'SE_T013_006', u'SE_T013_007', u'SE_T013_008', u'SE_T021_001', u'SE_T022_001', u'SE_T022_002', u'SE_T022_003', u'SE_T022_004', u'SE_T022_005', u'SE_T022_006', u'SE_T150_001', u'SE_T150_002', u'SE_T150_003', u'SE_T150_004', u'SE_T150_005', u'SE_T150_006', u'SE_T150_007', u'SE_T150_008', u'SE_T037_001', u'SE_T037_002', u'SE_T037_003', u'SE_T049_001', u'SE_T049_002', u'SE_T049_003', u'SE_T049_004', u'SE_T049_005', u'SE_T049_006', u'SE_T049_007', u'SE_T049_008', u'SE_T049_009', u'SE_T049_010', u'SE_T049_011', u'SE_T049_012', u'SE_T049_013', u'SE_T049_014', u'SE_T057_001', u'SE_T059_001', u'SE_T083_001', u'SE_T157_001', u'SE_T094_001', u'SE_T094_002', u'SE_T094_003', u'SE_T095_001', u'SE_T095_002', u'SE_T095_003', u'SE_T101_001', u'SE_T104_001', u'SE_T105_001', u'SE_T106_001', u'SE_T128_001', u'SE_T128_002', u'SE_T128_009', u'SE_T128_010', u'SE_T128_003', u'SE_T128_004', u'SE_T128_005', u'SE_T128_006', u'SE_T128_007', u'SE_T128_008', u'SE_T129_001', u'SE_T129_002', u'SE_T129_003', u'SE_T129_004', u'SE_T129_005', u'SE_T129_006', u'SE_T129_007', u'SE_T129_008', u'SE_T129_009', u'SE_T129_010', u'SE_T147_001', u'SE_T133_001', ...], dtype='object')

In [128]:
df4 = df3.drop([u'SE_T002_001',u'SE_T002_003', u'SE_T003_001', u'SE_T003_002', u'SE_T003_003',\
                u'SE_T004_001', u'SE_T007_001',u'SE_T007_002', u'SE_T007_003', u'SE_T007_004',\
                u'SE_T007_005', u'SE_T007_006', u'SE_T007_007', u'SE_T007_008', u'SE_T007_009', \
                u'SE_T007_010', u'SE_T007_011', u'SE_T007_012', u'SE_T007_013', u'SE_T013_001', \
                u'SE_T022_001', u'SE_T022_002', u'SE_T022_003', u'SE_T022_004', u'SE_T022_005',\
                u'SE_T022_006',  u'SE_T150_001', u'SE_T150_002', u'SE_T150_004', u'SE_T150_007',
                u'SE_T150_008', u'SE_T095_001', u'SE_T095_002', u'SE_T095_003', u'SE_T105_001',\
                u'SE_T129_001', u'SE_T129_002',
               ] ,1)
df4.columns

Index([u'Geo_NAME', u'SE_T001_001', u'SE_T002_002', u'SE_T004_002', u'SE_T004_003', u'SE_T013_002', u'SE_T013_003', u'SE_T013_004', u'SE_T013_005', u'SE_T013_006', u'SE_T013_007', u'SE_T013_008', u'SE_T021_001', u'SE_T150_003', u'SE_T150_005', u'SE_T150_006', u'SE_T037_001', u'SE_T037_002', u'SE_T037_003', u'SE_T049_001', u'SE_T049_002', u'SE_T049_003', u'SE_T049_004', u'SE_T049_005', u'SE_T049_006', u'SE_T049_007', u'SE_T049_008', u'SE_T049_009', u'SE_T049_010', u'SE_T049_011', u'SE_T049_012', u'SE_T049_013', u'SE_T049_014', u'SE_T057_001', u'SE_T059_001', u'SE_T083_001', u'SE_T157_001', u'SE_T094_001', u'SE_T094_002', u'SE_T094_003', u'SE_T101_001', u'SE_T104_001', u'SE_T106_001', u'SE_T128_001', u'SE_T128_002', u'SE_T128_009', u'SE_T128_010', u'SE_T128_003', u'SE_T128_004', u'SE_T128_005', u'SE_T128_006', u'SE_T128_007', u'SE_T128_008', u'SE_T129_003', u'SE_T129_004', u'SE_T129_005', u'SE_T129_006', u'SE_T129_007', u'SE_T129_008', u'SE_T129_009', u'SE_T129_010', u'SE_T147_001', u'SE_T133_001', u'SE_T133_002', u'SE_T133_003', u'SE_T133_004', u'SE_T133_005'], dtype='object')

In [130]:
df4.columns = ['Zip Code', 'Total Population', 'Population Density (per sq. mile)', 'Male', 'Female',\
               'White Alone','Black or African American Alone', 'American Indian and Alaska Native Alone',\
               'Asian Alone', 'Native Hawaiian and Other Pacific Islander Alone',\
               'Some Other Race Alone','Two or More races', 'Average Household Size','High school or more',\
               "Bachelor's degree or more", "Master's degree or more", \
               'Civilian Population In Labor Force 16 Years And Over', 'Employed','Unemployed',\
               'Total Employed Civilian Population 16 Years And Over', \
               'Agriculture, forestry, fishing and hunting, and mining', 'Construction',\
               'Manufacturing', 'Wholesale trade', 'Retail trade', 'Transportation and warehousing, and utilities',\
               'Information', 'Finance and insurance, and real estate and rental and leasing',\
               'Professional, scientific, and management, and administrative and waste management services',\
               'Educational services, and health care and social assistance',\
               'Arts, entertainment, and recreation, and accommodation and food services',\
               'Other services, except public administration','Public administration',\
               'Median household income', 'Average Household Income','Per Capita Income',\
               'Gini Index Of Income Inequality','Occupied Housing Units', 'Owner Occupied',\
               'Renter Occupied','Median House Value For All Owner-Occupied Housing Units', \
               'Median Gross Rent', 'Average Gross Rent','Workers 16 Years and over', 'Car, truck, or van',\
               'Drove Alone', 'Carpooled', 'Public transportation (Includes Taxicab)', \
               'Motorcycle', 'Bicycle', 'Walked', 'Other means', 'Worked at home', \
               'Less than 10 minutes', '10 to 19 minutes','20 to 29 minutes','30 to 39 minutes',\
               '40 to 59 minutes','60 to 89 minutes','90 or More minutes','Worked at home',\
               'Average Commute to Work (in min)', 'Total Population','Native Born',\
               'Foreign Born', 'Naturalized Citizen', 'Not a Citizen']
df4

,Zip Code,Total Population,Population Density (per sq. mile),Male,Female,White Alone,Black or African American Alone,American Indian and Alaska Native Alone,Asian Alone,Native Hawaiian and Other Pacific Islander Alone,...,40 to 59 minutes,60 to 89 minutes,90 or More minutes,Worked at home,Average Commute to Work (in min),Total Population,Native Born,Foreign Born,Naturalized Citizen,Not a Citizen
2558,10001,21966,35349.60000,10732,11234,13943,2363,58,3854,0,...,1044,691,234,932,25,21966,16003,5963,2679,3284
2559,10002,82191,93461.17000,39802,42389,25545,6057,176,36525,15,...,4899,3432,796,1492,31,82191,46960,35231,20088,15143
2560,10003,57310,99418.49000,27442,29868,44470,2361,164,7705,12,...,2649,1316,495,2683,26,57310,46229,11081,5081,6000
2561,10004,2807,5014.74500,1469,1338,2241,100,0,386,0,...,117,44,37,144,25,2807,2121,686,338,348
2562,10005,6822,92791.04000,3463,3359,5077,104,2,1441,0,...,494,104,55,192,25,6822,4882,1940,467,1473
2563,10006,2507,27306.71000,1137,1370,1759,99,0,474,0,...,122,0,0,92,21,2507,1925,582,225,357
2564,10007,6525,39918.16000,3661,2864,4576,413,0,1027,0,...,187,109,50,271,25,6525,4760,1765,451,1314
2565,10009,62810,101865.20000,28842,33968,37540,4496,119,9590,179,...,5723,2060,925,1747,31,62810,47420,15390,8145,7245
2566,10010,30670,78507.05000,14327,16343,21820,1820,65,4592,0,...,1713,660,280,1363,27,30670,23603,7067,3592,3475
2567,10011,52167,79233.23000,26039,26128,40683,2150,357,5078,0,...,2350,929,778,2150,24,52167,41660,10507,5408,5099
2568,10012,26145,80873.23000,13691,12454,19691,590,0,4339,46,...,1037,480,458,1135,24,26145,19087,7058,3391,3667
2569,10013,26065,47193.77000,12862,13203,14628,940,52,8917,13,...,1030,625,295,1033,27,26065,17790,8275,4693,3582
2570,10014,30597,53727.76000,15172,15425,26891,637,102,1894,0,...,1326,357,301,1912,24,30597,25285,5312,2277,3035
2571,10016,51196,96201.50000,23097,28099,38341,1685,123,7960,0,...,3027,1652,545,1953,26,51196,39431,11765,5301,6464
2572,10017,16129,50381.49000,7469,8660,12359,385,0,2961,7,...,821,497,227,619,24,16129,11498,4631,1920,2711
2573,10018,7021,21819.63000,3650,3371,4125,465,62,1792,0,...,448,397,163,239,29,7021,4331,2690,768,1922
2574,10019,38394,56459.61000,18818,19576,27881,2525,172,5145,13,...,2523,711,487,1387,25,38394,26597,11797,5873,5924
2575,10020,0,0.00000,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0,0,0,0,0
2576,10021,40862,105558.00000,17521,23341,36163,786,17,3046,64,...,3614,881,340,2106,28,40862,32798,8064,4373,3691
2577,10022,29618,67873.23000,13007,16611,25263,614,6,2902,0,...,1725,706,349,1411,26,29618,23344,6274,3126,3148
2578,10023,61315,125003.20000,28947,32368,50678,2094,87,6303,24,...,3233,1471,554,3150,28,61315,48380,12935,6342,6593
2579,10024,59164,68967.46000,27166,31998,47916,4019,246,3561,0,...,4392,1679,460,2517,30,59164,48282,10882,5452,5430
2580,10025,97390,129571.40000,43572,53818,64006,14978,484,9085,7,...,9586,2880,714,4101,31,97390,72469,24921,12512,12409
2581,10026,37871,113954.10000,17885,19986,8837,22800,11,1456,0,...,3619,1251,420,1268,34,37871,29108,8763,4063,4700
2582,10027,62617,71852.31000,28142,34475,17822,26276,112,5661,52,...,4831,2240,607,2039,31,62617,46102,16515,7025,9490
2583,10028,44295,140990.30000,19674,24621,39452,682,30,2830,74,...,5401,1096,388,2100,31,44295,36604,7691,4237,3454
2584,10029,77454,93874.63000,36560,40894,27158,23492,158,6907,149,...,7094,3140,736,1099,33,77454,56833,20621,8055,12566
2585,10030,28472,102070.20000,13569,14903,4301,19279,156,996,0,...,2967,1655,461,727,39,28472,22026,6446,3073,3373
2586,10031,59092,90800.10000,28360,30732,16260,20403,248,1148,46,...,7236,3239,1264,1755,39,59092,36015,23077,10081,12996
2587,10032,59374,90306.65000,29080,30294,16931,13442,730,1764,0,...,6134,2468,1345,1707,36,59374,31973,27401,12007,15394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887,11379,35822,17267.68000,17248,18574,30905,547,28,2992,0,...,3823,2691,529,260,37,35822,24227,11595,7752,3843
2888,11385,99379,27507.79000,49011,50368,81293,1972,279,6834,42,...,11138,4793,1816,791,38,99379,59750,39629,17184,22445
2889,11411,18722,16016.78000,8610,10112,608,17151,99,341,0,...,1388,1530,1689,317,49,18722,11466,7256,5311,1945
2890,11412,37176,22579.25000,16560,20616,858,32812,95,885,0,...,2726,4161,3010,478,50,37176,23940,13236,8148,5088
2891,11413,40385,13028.48000,18168,22217,1258,37033,31,611,51,...,2977,4458,2664,414,48,40385,25319,15066,10082,4984
2892,11414,28094,12216.56000,12911,15183,23657,1137,56,696,0,...,2029,2557,999,182,40,28094,23390,4704,3421,1283
2893,11415,19145,33697.13000,8974,10171,11518,1643,32,3136,18,...,3596,1669,440,385,41,19145,11438,7707,5222,2485
2894,11416,25950,38983.38000,12967,12983,6844,1716,15,9620,24,...,2824,2972,1065,446,47,25950,12038,13912,7729,6183
2895,11417,31004,27706.03000,14987,16017,12408,2386,143,8761,0,...,2706,3621,1000,387,43,31004,17251,13753,7824,5929
2896,11418,36828,22551.67000,18104,18724,14172,2987,479,9157,0,...,3091,4969,1053,513,45,36828,17683,19145,10899,8246
2897,11419,49193,43560.25000,24234,24959,5849,8740,168,14872,66,...,4329,5726,2551,385,46,49193,17204,31989,17638,14351
2898,11420,48449,23315.15000,23009,25440,8051,13688,551,8950,137,...,4116,5076,2553,406,45,48449,23209,25240,16093,9147
2899,11421,42588,33063.45000,20985,21603,19059,2796,288,7096,0,...,4499,5112,1503,548,45,42588,23790,18798,9921,8877
2900,11422,33280,16906.17000,14712,18568,2491,28626,27,1005,0,...,3007,2660,2938,442,48,33280,19803,13477,9312,4165
2901,11423,31625,22414.69000,14939,16686,5094,12952,423,7733,90,...,2630,3076,1844,197,45,31625,15154,16471,10589,5882
2904,11426,19575,14510.45000,9524,10051,9424,571,45,7416,0,...,1246,1276,1183,166,39,19575,11892,7683,5044,2639
2905,11427,24877,15781.92000,11691,13186,6775,6124,61,8765,0,...,1868,2205,1394,219,43,24877,12837,12040,8411,3629
2906,11428,20307,24389.29000,9877,10430,4389,4583,58,5971,92,...,1368,2018,1335,197,45,20307,8382,11925,7540,4385
2907,11429,28311,21759.68000,13544,14767,1791,23104,38,885,0,...,2192,2362,1881,405,47,28311,15626,12685,8136,4549
2908,11430,140,19.66911,120,20,18,92,0,0,0,...,0,0,12,0,NaN,140,111,29,18,11
2909,11432,61687,28703.23000,29649,32038,14033,10136,318,23405,0,...,6036,7483,1880,730,44,61687,26962,34725,18958,15767
2910,11433,32821,21148.12000,14485,18336,1346,23957,388,2102,26,...,2493,3492,1170,171,45,32821,21601,11220,6410,4810
2911,11434,62809,19392.67000,27959,34850,1895,54994,64,646,11,...,4551,5658,4215,788,48,62809,43305,19504,12260,7244
2912,11435,53542,35350.96000,26654,26888,12597,12728,173,10600,0,...,5240,7909,1871,386,46,53542,26282,27260,14388,12872
2913,11436,17636,22385.42000,8564,9072,932,13093,74,1233,0,...,1678,1546,1154,140,47,17636,10751,6885,3618,3267
2955,11691,61091,21558.11000,28055,33036,22411,29913,130,1644,0,...,2663,4617,3844,504,47,61091,41540,19551,10162,9389
2956,11692,17674,17698.36000,8238,9436,4594,10758,92,405,0,...,919,1622,1148,175,51,17674,12676,4998,3153,1845
2957,11693,11335,11367.43000,5227,6108,6357,3570,0,679,0,...,660,896,712,97,48,11335,9058,2277,1586,691
2958,11694,21725,15908.26000,10672,11053,18505,1565,8,539,0,...,1469,1639,1229,265,44,21725,18161,3564,1946,1618
2959,11697,4223,1902.41900,2105,2118,4175,4,0,0,0,...,238,299,183,24,43,4223,4154,69,60,9

In [131]:

#df4.to_csv(file_name, sep='\t')

NameError: name 'pwd' is not defined

In [133]:
ls

Untitled0.ipynb   cleaning1.ipynb   sf3_inc_p_z1.xls  zip_borough.csv

In [134]:
cd /Users/panding/bigdata/bigdata2015-finalproject/pd878

/Users/panding/bigdata/bigdata2015-finalproject/pd878

In [136]:
df4.to_csv('NYC_census.csv')